.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.contentArea {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.leftSidebar {
  display: flex;
  flex: 0 0 300px;
  justify-content: center;
  align-items: center;
  background: #edecec;
  color: white;
  overflow-y: auto;
}

.main {
  flex: 1;
  overflow-y: auto;
  background: #f8fafc;
}

.rightSidebar {
  flex: 0 0 250px;
  background: #ffffff;
  border-left: 1px solid #e2e8f0;
  overflow-y: auto;
}

.footer {
  flex: 0 0 auto;
  background: #f3f4f6;
  text-align: center;
}
